.main_heading{
    color: rgb(129, 48, 48);
}
.nav{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.table{
font-style: italic;
font-family: 700;
justify-content: center;
color: aqua;

}